body{
    font-family:Arial,sans-serif;
    margin:0;
    background-color:#331;
}
header{
    background-color: #333;
    color:white;
    padding:30px;
    text-align:center;
}
section{
    background-color:white;
    margin:25px auto;
    padding:30px;
    border-radius:8px;
    max-width:900px;
}
footer{
    background-color:#333;
    color:white;
    text-align:end;
    padding:30px;
}
h1,h2,h3{
    margin-top:0;
}
button{
    padding:10px 15px;
    border:none;
    background-color:#333;
    color:white;
    cursor:pointer;
}
button:hover{
    background-color:#555;
}
.hidden{
    display:none;
}
@media (max-width:600px){
    header{
        padding:20px;
    }
    section{
        margin:15px;
        padding:20px;
    }
    button{
        width:100%;
        margin-top: 10px;
    }
    footer{
        text-align: end;
    }
    p{
        font-size: 24px;
    }
    h2,h3{
        font-size: 25px;
    }
    h1{
        font-size: 30px;
    }
    li{
        font-size: 20px;
    }
}